<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mars Rovers Dashboard</title>
</head>
<body class="grid-container">
    <header class="header-section-layout header-section-style">
        <h1>Mars Rovers</h1>
        <nav id="navigaton-bar">
            <ul>
                <li><a id="menu-rovers" href="#">ROVERS</a></li>
            </ul>
        </nav>
    </header>
    <!-- .application -->
    <main id="root" class="root-section-layout">

    </main>
    <footer class="footer-section-layout">
        <p>© 2020 Copyright: Eduardo Rondon</p>
        <!-- Include rover presentation photo source -->
        <p>Curiosity and Spirit Photo from <a href="https://mars.nasa.gov/msl/home/">Mars.Nasa.gov</a></p>
        <p>Opportunity photo from <a href="https://www.wikipedia.org/">Wikipedia.org</a></p>
    </footer>
</body>
</html>